/* CSS variabele */
:root{
    --primary: #2C3E50;
    --primary-opacity: rgba(0, 0, 0, 0.5);
    --main-link: #ffffff;
    --sub-link: #D7DADB;
    --sub-link-hover : #ffffff;
    --side-bg: #f7f7f7;
    --outside-border: #ddd;
}


body{
    background-color: var(--side-bg);
}

/* Styling a tags */
/* Resetting link styles */ /* Subtitles navbar links */
a.subtitle, a.subtitle:hover, a.subtitle:active, a.subtitle:visited{
	text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

/* Populair and New */
a.subtitle:hover{
    background: #eeeeee;
    transition-duration: 0.2s;
}

/* Main links (login and signup)*/
a.main-link{
    color: var(--main-link);
}

a.sub-link, a.sub-link:hover{
    color: var(--sub-link);
}

.title-link, .title-link:hover, .title-link:visited, .title-link:active{
    text-decoration: none;
    color: black;
}

html, body{
    height: 100%;
}

.wrapper{
    position: relative;
    top: -56px;
    padding-top: 56px;
    min-height: 100%;
    width: 960px;
    background-color: white;
    margin: 0 auto;
    border-left: 1px solid var(--outside-border);
    border-right: 1px solid var(--outside-border);
}

/*  overriding bootstrap navbar */

.navbar{
    z-index: 1;
}

nav.navbar{
    background: var(--primary) !important;
}

.logo, .logo:hover{
    font-weight: bold;
    color: var(--main-link);
}

/* End navbar */

/* Styling release */
.release-follow-small{
    display: none;
    height: 0px;
    background: var(--primary-opacity);
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 100%;
    bottom: 0px;
    color:white;
}

.release-img-wrapper:hover .release-follow-small{
    height: auto;
    display: block;
}
  
.release-img-wrapper:hover{
    cursor: pointer;
}


/* General styles */

/* Give a pointer to all clickable content */
.clickable{
    cursor: pointer;
}