<div class="position-sticky abs-bot w-100 border-success font-weight-bold" style="z-index: 1; height: 50px; line-height: 50px; text-align:center; background-color: slategray">
    Now following + Title
</div>