<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <!-- Css reset -->
        <link rel="stylesheet" href="~/css/css-reset.css" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <!-- Font Awesome (for icons) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Standard styles for every page -->
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md standard-bgr abs-nav" id="mainNav">
        <button class="navbar-toggler nav-item navbar-dark" data-toggle="collapse" data-target="#navbarNavDropdown"><span class="navbar-toggler-icon"></span></button>
        <span class="navbar-brand logo" href="#">Logo</span>
        <div class="collapse navbar-collapse justify-content-between w-100" id="navbarNavDropdown">
            <ul class="navbar-nav align-self-center mx-auto">
                <li class="nav-item"><a class="active nav-item nav-link sub-link" href="/overview">Releases</a>
                <hr class="foldout"/>
                <li />
                <li class="nav-item"><a class="nav-item nav-link sub-link" href="#">Groups</a>
                <hr class="foldout"/>
                <li />
                <li class="nav-item"><a class="nav-item nav-link sub-link" href="#">About</a>
                <hr class="foldout"/>
                <li />
                <li class="nav-item"><a class="nav-item nav-link sub-link" href="#">Guidelines</a>
                <hr class="foldout"/>
                <li />
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-item nav-link main-link" href="/account/login">Login</a>
                <hr class="foldout"/>
                <li />
                <li class="nav-item"><a class="nav-item nav-link main-link" href="/account/register">Sign up</a>
                <hr class="foldout"/>
                <li />
            </ul>
        </div>

    </nav>
    <!-- Navbar end -->

    @RenderBody()

    <!-- Javascript -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/stickyNavbar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
