/* CSS variabele */
:root{
    --primary: #2C3E50;
    --primary-opacity:  rgba(57,55,55, .3);
    --main-link: #ffffff;
    --sub-link: #D7DADB;
    --sub-link-hover : #ffffff;
    --side-bg: #f7f7f7;
    --outside-border: #ddd;
}

#wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--primary-opacity);
    border: none;
}

#center-box{
    max-height: 500px;
    max-width: 450px;
    padding: 0 40px;
    background-color: var(--primary);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px 0;
}

.form-in-popup{
    margin: 0 auto;
    color: #fff;
}

.cbox{
    vertical-align: middle;
    margin: 50px 10px;
}


.myBtn:hover{
    background-color: var(--primary-button-color-hover);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    color: white;
    text-align: center;
}

footer span{
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
}

footer span:hover{
    cursor: pointer;
}