
body{
    background-color: var(--side-bg);
}


/* Time toggle bar */
#toggle-row img {
    opacity: 0.6;
    padding: 0 3px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-bottom: 3px solid black;
    position: relative;
    transition-duration: .3s;
}

#toggle-row img:hover {
    opacity: 1;
    padding-bottom: 5px;
    margin-bottom: -5px;
}

/* Populair and New */
.subtitle {
    color: var(--main-text-color);
}

.subtitle:hover{
    text-decoration: underline;
    color: black;
}

.title-link {
    transition-duration: 0.2s;
    color: var(--title-secondary-color);
}

.title-link:hover {
    text-decoration: underline;
}

html, body{
    height: 100%;
}

.wrapper{
    position: relative;
    min-height: 100%;
    width: 960px;
    background-color: white;
    margin: 0 auto;
    border-left: 1px solid var(--outside-border);
    border-right: 1px solid var(--outside-border);
}

/* Styling release */

.releaseFollowStyle {
    background-color: var(--correct-opacity);
}

.releaseUnfollowStyle {
    background-color: var(--error-opacity);
}

.populair-release-wrapper:hover .releaseUnfollowStyle::after {
    content: "Unfollow";
    color: white;
}

.populair-release-wrapper:hover .releaseFollowStyle::after {
    content: "Follow";
}

.release-follow-small {
    color: black;
    height: 0px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: 0px;
    clear: both;
    transition-duration: .5s;
}


.category-icon {
    display: none;
    top: 0px;
    padding: 2px;
    border-bottom-left-radius: 25%;
    background-color: var(--primary-opacity);
}

.populair-release-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    transition-duration: .3s;
    overflow:hidden;
}

.release-img-wrapper:hover .release-follow-small {
    height: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


.release-img-wrapper:hover .category-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.populair-release-wrapper:hover {
    background-color: var(--gray-hover-color);
}

.populair-release-wrapper:hover .release-img-wrapper {
    border-color: var(--title-secondary-color);
}

.release-img-wrapper {
    background-color: black;
    box-sizing: padding-box;
    margin-right: 10px;
    border: 2px solid silver;
    padding: -2px;
    position: relative;
    border-radius: 8px;
    height: 100px;
    width: 150px;
    text-align: center;
    overflow: hidden;
}

.release-img-wrapper img {
    /*width: auto;
    height: auto;
    max-width: 100%;
    max-height: 150px;*/
   /* width: 163.8px;
    height: 109.2px; */
   height: 100px;
   max-width: 150px;
   width: auto;
}

    /* New */
.new-release-wrapper img {
    max-width: 100%;
    width: auto;
    height: 166px;
}

.new-release-wrapper {
    border: 2px solid silver;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
    border-radius: 10px;
    height: 150px;
}

/*.new-release-wrapper img:hover {
    max-height: 250px;
    max-width: 90%;
    margin-top: -50px;
    height: auto;
    width: auto;
}*/




