/* CSS variabele */
:root {
    --primary: #2C3E50;
    --primary-opacity: rgba(0, 0, 0, 0.8);
    --correct-opacity: rgba(66, 244, 131, 0.8);
    --correct-solid: #42F483;
    --correct-solid-hover: #36c96c;
    --error-opacity: rgba(165, 41, 34, 0.8);
    --error-solid: #A52922;
    --error-solid-hover: #821e18;
    --main-link: #ffffff;
    --sub-link: #D7DADB;
    --sub-link-hover: #ffffff;
    --side-bg: #f7f7f7;
    --outside-border: #ddd;
    --main-border: #eeeeee;
    --main-text-color: #000;
    --title-secondary-color: #5bc0de;
    --primary-button-color: #366982;
    --primary-button-color-hover: #4888a8;
    --gray-hover-color: #eaeaea;
}

/* Allow overlay width and height*/
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--side-bg);
}

.wrapper, #wrapper {
    padding-top: 60px; /* Adding padding to top to avoid the navbar overlapping content */
    width: 960px;
    min-height: 100%;
    background-color: white;
    margin: 0 auto;
    border-left: 1px solid var(--outside-border);
    border-right: 1px solid var(--outside-border);
}



/* Navbar styles */
.standard-bgr {
    background: var(--primary) !important;
}

.logo {
    color: var(--main-link);
    font-weight: bold;
}


.sticky {
    position: fixed !important;
    width: 100%;
}

/* End navbar styles */


/* Links */

/* Main links (login and signup)*/
.main-link {
    color: var(--main-link);
}

.sub-link {
    color: var(--sub-link);
}

.sub-link:hover, .main-link:hover {
    color: var(--main-link);
}



/* Resetting link styles */
a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.foldout {
    width: 0;
    height: 0;
    margin: -1.5px 0 0 0;
    padding: 0;
    border-bottom: 1.5px solid white;
}

li:hover .foldout {
    animation-name: foldout-hr;
    animation-duration: .6s;
    animation-fill-mode:forwards;
}

/* Remove styles from a tag */
.no-style-link, .no-style-link:hover, .no-style-link:active, .no-style-link:visited {
    text-decoration: none;
    color: none;
}

/* My own general styling classes */
.clickable {
    cursor: pointer;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}

.standard-border {
    border: 2px solid var(--main-border);
}

/* Only for absolute position*/
.abs-nav {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.abs-left {
    left: 0px;
}

.abs-right {
    right: 0px;
}

.abs-bot {
    bottom: 0px;
}

.primary-button {
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: var(--primary-button-color);
    transition-duration: .2s
}

.primary-button:hover {
    background-color: var(--primary-button-color-hover);
}

.correct-button {
    background-color: var(--correct-solid);
}

.correct-button:hover {
    background-color: var(--correct-solid-hover);
}

.correct-button::after {
    content: "follow";
    text-transform: capitalize;
}

.error-button {
    background-color: var(--error-solid);
}

.error-button:hover {
    background-color: var(--error-solid-hover);
}

.error-button::after {
    content: "unfollow";
    text-transform: capitalize;
}


/* Form styles */
.standard-text-box {
    resize: none !important;
    height: auto;
    border: none;
    outline: none;
}   

/* Overriding bootstrap */
.dropdown-remove-arrow::after {
    display: none !important;
}

.dropdown-nav-primary, .dropdown-nav-primary a {
    background-color: var(--primary-button-color);
    color: var(--sub-link) !important;
    font-weight: 500 !important;
}

.dropdown-nav-primary a:hover {
    transition-duration: .5s;
    color: var(--sub-link-hover) !important;
    background-color: var(--primary-button-color);
}


/* Animations */
@keyframes foldout-hr {
    from {
       width: 0;
    }

    to {
        width: 100%;
    }

}
