/* CSS variabele */
:root{
    --primary: #2C3E50;
    --primary-opacity: rgba(0, 0, 0, 0.5);
    --main-link: #ffffff;
    --sub-link: #D7DADB;
    --sub-link-hover : #ffffff;
    --side-bg: #f7f7f7;
    --outside-border: #ddd;
}


body{
    background-color: var(--side-bg);
}


/* Populair and New */
a.subtitle:hover{
    background: #eeeeee;
    transition-duration: 0.2s;
}

.title-link, .title-link:hover, .title-link:visited, .title-link:active{
    text-decoration: none;
    color: black;
}

html, body{
    height: 100%;
}

.wrapper{
    position: relative;
    min-height: 100%;
    width: 960px;
    background-color: white;
    margin: 0 auto;
    border-left: 1px solid var(--outside-border);
    border-right: 1px solid var(--outside-border);
}

/* Styling release */
.release-follow-small {
    display: none;
    height: 0px;
    background: var(--primary-opacity);
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: 0px;
    color: white;
    clear: both;
}

.release-wrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.release-img-wrapper:hover .release-follow-small {
    height: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.release-img-wrapper:hover {
    cursor: pointer;
}

.release-img-wrapper {
    box-sizing: content-box;
    margin-right: 10px;
    border: 1px solid var(--side-bg);
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    
}

    .release-img-wrapper img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 150px;
    }

/* General styles */

/* Give a pointer to all clickable content */
.clickable{
    cursor: pointer;
}