
body{
    background-color: var(--side-bg);
}


/* Populair and New */
.subtitle {
    color: var(--main-text-color);
}

.subtitle:hover{
    text-decoration: underline;
    color: black;
}

.title-link {
    transition-duration: 0.2s;
    color: var(--title-secondary-color);
}

.title-link:hover {
    text-decoration: underline;
}

html, body{
    height: 100%;
}

.wrapper{
    position: relative;
    min-height: 100%;
    width: 960px;
    background-color: white;
    margin: 0 auto;
    border-left: 1px solid var(--outside-border);
    border-right: 1px solid var(--outside-border);
}

/* Styling release */

.releaseFollowStyle {
    background-color: var(--correct-opacity);
}

.releaseUnfollowStyle {
    background-color: var(--error-opacity);
}

.releaseUnfollowStyle::after {
    content: "Unfollow";
    color: white;
}

.releaseFollowStyle::after {
    content: "Follow";
}

.release-follow-small {
    color: black;
    height: 0px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: 0px;
    clear: both;
    transition-duration: .5s;
}


.category-icon {
    display: none;
    top: 0px;
    padding: 2px;
    border-bottom-left-radius: 25%;
    background-color: var(--primary-opacity);
}

.populair-release-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    transition-duration: .3s;
}

.release-img-wrapper:hover .release-follow-small {
    height: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


.release-img-wrapper:hover .category-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.populair-release-wrapper:hover {
    background-color: var(--gray-hover-color);
}

.release-img-wrapper {
    box-sizing: content-box;
    margin-right: 10px;
    border: 1px solid var(--side-bg);
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    
}

.release-img-wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 150px;
}

    /* New */
.new-release-wrapper img {
    max-width: 75%;
    border-radius: 10px;
    max-height: 200px;
    height: auto;
    width: auto;
    transition-duration: .5s;
}

.new-release-wrapper img:hover {
    max-height: 250px;
    max-width: 90%;
    margin-top: -50px;
    height: auto;
    width: auto;
}




