@model Logic.Models.ReleaseModel

@{
    ViewData["Title"] = "Single";
}

@section styles{
    <!-- My CSS-->
    <link href="~/css/singleRelease.css" rel="stylesheet" type="text/css" />
}


<div id="wrapper">
    <div class="container">
        <div class="row">
            <!-- Holds the user who posted, the thumbnail and the description-->
            <div class="col-sm-6 col-md-4 text-center my-auto justify-content-end"> <p class="float-right text-left text-muted ml-2">Username <br />7/3/2019</p> <img src="https://via.placeholder.com/50x50" class="float-right clickable user-icon" />  </div>

            <div class="col-sm-6 col-md-4 text-center">
                <img src=@Html.DisplayFor(model => model.ImgLocation) class="img-large">
                <h3 class="m-0 p-0">@Html.DisplayFor(model => model.Title)</h3>
                <h3 class="text-info m-0 p-0">@Html.DisplayFor(model => model.ReleaseString)</h3>
                <span class="text-muted">@Html.DisplayFor(model => model.FollowerCount) followers</span>

            </div>

            <div class="col-sm-12 col-md-4 text-center">
                <strong>Description</strong>
                <div class="px-1 py-sm-3 py-md-1 overflow-hidden standard-border description">@Html.DisplayFor(model => model.Description)</div>
            </div>
        </div> <!-- End row -->
        <div class="row mt-5 text-center">
            <!-- Holds the comments -->
            <h4 class="col-12 text-muted">Comments</h4>

            <div class="d-flex col-sm-10 offset-sm-1 col-md-6 offset-md-3 my-2 py-2 standard-border comment">
                <img src="https://via.placeholder.com/50x50" class="my-auto user-icon clickable"><textarea placeholder="Your comment" class="w-100 standard-text-box"></textarea>
                <div class="mt-auto text-info clickable"><strong>Post</strong></div>
            </div> <!-- Your Comment -->

            <div class="d-flex col-sm-10 offset-sm-1 col-md-6 offset-md-3 my-2 standard-border comment">
                <img src="https://via.placeholder.com/50x50" class="my-auto user-icon clickable" > <p class="pl-2 text-left">We have a fantastic little sky! We can fix anything. We wash our brush with odorless thinner. Just relax and let it flow. That easy. Maybe there's a happy little Evergreen that lives here.</p>
                <div class="mt-auto text-info position-absolute pb-1 pl-1 abs-bot abs-left clickable"><strong>Reply</strong></div>
                <div class="mt-auto text-secondary position-absolute abs-bot abs-right pb-1 pr-1">1 hour ago</div>
            </div> <!-- Comment -->


        </div> <!-- End row -->
    </div> <!-- End container -->


</div>

