
@section styles{
    <!-- My CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/form.css">
}
<div id="wrapper">
    <div id="center-box">
        <h2 class="title">Logo</h2>
        <form method="post">
            <div class="form-group form-in-popup">
                <!-- Username -->
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input">
                <!-- Password -->
                <label for="pass-input">Password</label>
                <input type="password" class="form-control" id="pass-input">
                <!-- Remember me -->
                <input type="checkbox" name="remember-user" class="cbox">Remember me <br />
                <!-- Login button -->
                <button type="submit" class="btn myBtn mb-2">Log in</button>
            </div>
        </form>
            <footer>
                Need an account? <span>SIGN UP</span>
            </footer>
        </div>
    </div>
