@section styles{
    <!-- My CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/form.css">
}

<div id="wrapper">
    <div id="center-box">
        <h2 class="title">Register</h2>
        <form method="post">
            <div class="form-group form-in-popup">
                <!-- Username -->
                <label for="username-input">Username</label>
                <input type="text" class="form-control" id="username-input">
                <!-- Password -->
                <label for="pass-input">Password</label>
                <input type="password" class="form-control" id="pass-input">
                <!-- Repeat password -->
                <label for="pass-input">Repeat password</label>
                <input type="password" class="form-control" id="pass-input">

                <!-- Sign up button -->
                <button type="submit" class="btn myBtn my-5">Sign up</button>
            </div>
        </form>
    </div>
</div>