<div class="wrapper">
    <form asp-action="test2" asp-controller="Account">
    <input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" name="rest" class="form-control currency" id="c2" />
        <input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" name="id" class="form-control currency" id="c2" />
        <button type="submit" value="submit">Submit</button>
        </form>
</div

<input type="text" class="hier staan klassen" name="vul hier de naam van de parameter in"/> 